## **Building my first Neural Network Model using TensorFlow:**

### 1. Import the libraries:

In [12]:
# Importing the libraries:

import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

# remove the warnings:
import warnings
warnings.filterwarnings('ignore')

### 2. Load the dataset:

In [ ]:
# load the dataset from sklearn:

titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### 3. Pre-process the data:

In [14]:
# check the missing values:

titanic.isnull().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [15]:
# remove rows with missing values in "age" and "deck" column from the dataset:

titanic = titanic.dropna(subset = ['age', 'deck'])

In [16]:
# check the missing values again:

titanic.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [19]:
# impute the missing values of "embarked" and "embark_town" columns with the most frequent value:

titanic['embark_town'].fillna(titanic['embark_town'].mode()[0], inplace = True)
titanic['embarked'].fillna(titanic['embarked'].mode()[0], inplace = True)

In [20]:
titanic.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

# All the missing values have been imputed successfully.

In [ ]:
# Now, let's make a neural network model to predict the survival of passengers on the Titanic.

In [21]:
# making df as the titainc dataframe for my own ease...

df = titanic.copy()

In [ ]:
# Encode the categorical variables:

In [ ]:
# First, we will drop the columns that are not required for the model:


# Now, we will convert the categorical columns into numerical columns:

df = pd.get_dummies(df, drop_first=True)

# Now, we will split the dataset into Features and Labels and then into training and testing sets:

X = df.drop('survived', axis=1)
y = df['survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Now, we will scale the features:

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)